.DS_Store
*__pychache__/
*heartbeats/
*heartbeats.zip
task3/data/X_test.csv
task3/data/X_train.csv
task4/data/test_eeg1.csv
task4/data/test_eeg2.csv
task4/data/test_emg.csv 
task4/data/train_eeg1.csv
task4/data/train_eeg2.csv
task4/data/train_emg.csv 
task4/out/test_eeg_filtered1.csv
task4/out/test_eeg_filtered2.csv
task4/out/train_eeg_filtered1.csv
task4/out/train_eeg_filtered2.csv


